@charset "utf-8";
/* CSS Document */
@font-face {
  src: url(fonts/Raleway-Regular.ttf);
  font-family: "Raleway";
}
/*
:root {
	--primary: 		#333;
	--accent:		#b50019;
	--white:		#fff;

}
*/
#main-header {
  margin-top: 0px;
  height: 10vh;
  width: 100%;
  max-height: 100px;
  position: fixed;
  box-sizing: border-box;
  min-height: 90px;
  z-index: 20;
  background-Color: rgba(0,0,0,0);
  box-Shadow: 0 0 0;
  transition: 1;
  transition: 0.25s;
}
.container-header{
  max-width: 120rem;
  width: 90%;
  margin: 0 0 0 auto;

}

/*logo*/

.container-header img{
  position: fixed;
  top: 15px;
  left: 20px;
  background-image: url("Pics/logo.png");
  background-size: contain;
  height: 60px;
  width: auto;
  background-repeat: no-repeat;

}
.menu-wrap{

  margin-top: 35px;
}
/*Hamburger und menü*/

.nav{
  text-decoration: none;
  list-style: none;
}

.nav a{
  color: #fff;
  text-decoration: none;
  font-family: "Raleway";
}

.nav a:hover{
  color: var(--accent3);
  text-decoration: none;
}

.headerContent{
display:  inline-flex;
height: 70px;
vertical-align: middle;
}

#main-header a{
  font-family: "Raleway";
}

#Nav{
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 1rem;
  float: right;
}

  #Nav ul {
  margin: 0;
  padding: 0;
  }

    #Nav ul li{
      display: inline;
      position: relative;
      height: 100%;
      float: left;
    }

    #Nav ul a{
      padding:  1rem 0;
      position: relative;
      letter-spacing: 2px;
      margin: 0 1vw;
    }

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
/*Slider*/
#Nav ul li a::before,
#Nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent2);
  left: 0;

  transition: all .5s;
}
#Nav ul li a::before{
  top: 0;
  transform-origin: left;
}
#Nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}
#Nav ul li a:hover::before,
#Nav ul li a:hover::after{
transform: scaleX(1);
}
#Selec::before,
#Selec::after{
  transform: scaleX(1);
}
#nonSelec::before,
#nonSelec::after{
    transform: scaleX(0);
}


@media only screen and (max-width: 1200px) {
  #header-logo {

    position: fixed;
    top: 15px;
    left: 10px;
    background-image: url("Pics/logo_small.png");
    background-size: contain;
    height: 60px;
    width: 320px;
    background-repeat: no-repeat;
  }

}

@media only screen and (max-width: 1600px) {

  :root {
    --menu-speed: 0.75s;
  }
  .menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*hamburger lines*/
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
    opacity: 1;
   }

  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
  content:"";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  }
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /*toggler animate*/
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  /*turne lines into X*/
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  /*rotate on hover*/
  .menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(200deg);
  }

  /*show menu*/

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;

  }


  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
  background: #000;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 90vw;
  opacity: 0;
  transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  }
  .menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  }

#Nav ul li{
  align-items: center;
  float: none;
    display: inline-flex;
    bottom: 20vh;

}

#Nav{
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 1.5em;
  float: right;
}
}
