body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: center;:
}
 h1{
  color: white;
  font-family: "Eco", Calibri;
}
#Select-Title{
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-family: "Eco", Calibri;
  position: relative;
  padding-top: 15vh;
}
#Equipment-Btn,#EquipmentListe-Btn{
  background-color: var(--primary);
  min-width: 200px;
  min-height: 200px;
  color: white;
  margin: 40px;
  width: 40vh;
  height: 40vh;
  display: inline-flex;
  box-shadow: 0 0 30px 0 #000;
  align-items: center;
  justify-content: center;
}
#Equipment-Btn:hover,#EquipmentListe-Btn:hover{
  cursor: pointer;

}
#Select-Buttons{
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  display: flex;
}

#Equipment-svg,#EquipmentListe-svg{
  width: 70%;
  display: flex;
  position: relative;
}
 #Equipment-Btn p, #EquipmentListe-Btn p{
  font-size: 2rem;
  display: block;
  position: absolute;

}
