#Interval-Res{
  position: relative;
  height: auto;
  width:100vw;
  top: 10vh;
  margin-bottom: 5vh;
  display: block;
  text-align: center;
  box-shadow: 0 0 40px #000;
  background-color: var(--primary);
}

.team-mitglied {
  display: inline-block;
  vertical-align: middle;
  height: 540px;
  width: 405px;
  overflow: hidden;
  margin: 4vh 3vw 4vh 3vw;
  box-shadow: 0 0 50px #000;

  position: relative;
  z-index: 1;
}

#new-member{
  width: 550px;
  height: 650px;
}

.right{
  padding: 1vh 1vw 1vh 1vw;
  margin-top: 2vh;
}

.nobr { white-space: nowrap }

p{
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  text-align: left;
}

img{
  position: absolute;
  position: -moz-relative;
  position: -webkit-relative;
  z-index: -10;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  display: block;
  opacity: 70%;
}

p, input, textarea, button, label{
  font-family: "Raleway", Calibri;
  transform-origin: center;
  position: relative;
}

textarea{
  font-size: 15px;
}

input, textarea{
  resize:none;
  margin: 5px;
  padding: 1px;
  opacity: 60%;
}

input[type='number']{
    width: 35px;
    text-align: right;
}

input[type='checkbox']{
    width: 1px;
    height: 1px;
    opacity: 0;
}

button{
  font-size: 18px;
  display: inline-block;
  padding: 5px 8px 5px 8px;
  margin: 20px;
  background-color: var(--einf);
  color: var(--white);
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.4);
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(255,255,255,0.7);
}

#delButton{
  background-color: var(--del);
}

label{
  color: var(--white);
  background-color: rgba(171, 53, 68, 0.6);
  display: inline-block;
  padding: 3px;
  margin-top: 5px;
}

label:hover{
  background-color: var(--del);
  cursor: pointer;
}

input:checked + label:hover{
  background-color: rgba(171, 53, 68, 0.6);
  cursor: pointer;
}

input:checked + label {
  background-color: rgba(54, 89, 68, 0.7);
}

.dropdown{
  width: 250px;
  height: 30px;
  background:var(--accent);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

.dropdown option{
    background-color: var(--accent);
    border: 0 0 0 0;
}

.dropdown option:hover{
  background-color: var(--accent2);
}
