body{
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg );
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#log{
  width: 100vw;
  height:auto;
  display: flex;
  justify-content: center;
  top: 15vh;
  position: relative;
  margin-bottom: 30vh;
}
#login-box{
  width: 30vw;
  height: 100%;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  background-color: var(--primary);
  opacity: .9;
  border-radius: 3%;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
}
#login-box h1{
  color: var(--accent);
  font-size: 2rem;
  font-family: "Eco", Calibri;
  text-align: center;
  margin: 0 0 8vh 0;
  position: relative;
  top: 3vh;
  display: block;
  width: 100%;
}
#login-box p{
  color: var(--white);
  font-family: "Raleway", Calibri;
  font-size: 1.1rem;
  text-align: right;
  position: relative;
  text-align: center;
}
form{
  width: 100%;
  display: block;
  text-align: center;
}
#login-box .input-login{
  background-color: #333;
  color: white;
  height: 40px;
  width: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
  margin: 20px 20px 20px 20px;
}

.btn{
  margin:3.5vh 0 3vh 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: block;
}

.fehler{
  position: absolute;
  color: red;

}

footer{
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.5) 0%, rgba(38,38,38,0) 110%);
  position: relative;
}
