body{
    background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;:
}
table{
  width:90vw;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  opacity: .9;
  top: calc(20vh + 1.2rem);
  margin-left: 5vw;
}
.tables{
  display: inline-flex;
}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;

}
table th{
  font-size: 1.5rem;
}

table .input{
  background-color: #444;
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
table select{
  padding: 0.6rem 1.3rem;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  background: #444;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.btn{
width: 100%;
}
.btn:hover{
  cursor: pointer;
}
.numb{
  background-color: #444;
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 20%;
  color: white;
  font-size: 1.1rem;
  font-family: "Eco", Calibri;
  position: relative;
  -moz-appearance: textfield;
  text-align: center;
}
.numb::-webkit-outer-spin-button,
.numb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #111;
  cursor: pointer;
  text-align: left;
  transition: .3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:hover{
  background-color:var(--accent3);
}
input[type="checkbox"]:checked{
  background-color:var(--accent2);
}
input[type="checkbox"]::after{
  content: '\E800';
  font-family: fontello;
  font-size:  18px;
}
input[type="checkbox"]:checked::after{
  content:  '\E801';
}

input[type="text"]{
  width: 100%;
  height: 100%;
  background-color: #444;
  color: white;
  font-size: 1.2rem;
  font-family: "Eco", Calibri;
  padding: 5px 5px 5px 5px;
}
.text{
  width: 95%;
  display: inline-flex;
  margin-left: 0.2vw;
}
svg{
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.mone{
  vertical-align: middle;
  display: inline-flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer{
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.3) 0%, rgba(38,38,38,0) 100%);
  position: relative;
  margin-top: 40vh;}
