body{
    background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg ) !important;
    background-size: cover!important;
    background-position: center!important;
    min-height: 100vh !important;
    text-align: center;
    margin: 0;
  }
#imp{
  width: 100vw;
  position: relative;
  top:50vh;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#pic{
  min-width: 100px;
  max-width: 600px;
  width:90vw;
  height:90vw;
  min-height:  100px !important;
  max-height:  600px !important;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
.btn{
  position: absolute;
  bottom:10vh;
  left:50vw;
  transform: translateX(-50%);
}
footer{
  display: none;
}
