html{
  overflow: hidden;
}

body{
  background-image: url(../pics/Main-Pics/404.jpg );
  background-size: cover;
  background-position: center;
  height: 100vh;
    margin: 0;
}
#header-box{
  margin: 8vh 10vw 5vh 10vw;
  padding: 10px 10px 10px 10px;
  width: 80vw;
  height: auto;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  /*background-color: var(--primary);*/
  opacity: .9;
  border-radius: 3%;
  min-width: 400px;
  min-height: 400px;
  display: block;
  justify-content: center;
}

h1{
  color: var(--white);
  font-size: 20rem;
  font-family: "Eco", Calibri;
  text-align: center;
  margin: 0 0 13vh 0;
  position: relative;
  top: 3vh;
  display: block;
  width: 100%;
}

p{
  color: var(--white);
  font-family: "Raleway", Calibri;
  width: 100%;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  position: relative;
  display: inline-block;
}

.btn{
  width: 40vw;
  margin:3.5vh 0 3vh 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: relative;
  display: block;
  font-size: 1.5rem;
}
