body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: center;:
}

table{
  width:40vw;
  left: 30vw;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  opacity: .9;
  margin-top: calc(20vh + 1.2rem);
}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;

}
table th{
  font-size: 1.5rem;
}
table .input{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
.ontable{
  position: relative;
  top: 20vh;
  margin-left: 5vw;
  display: inline-flex;
  width: 19vw;
}
.btnsub{
  width: 100%;
  height:100%;
}
footer{
  position: relative;
  margin-top:20vh;
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.3) 0%, rgba(38,38,38,0) 100%);
}
