
#Musik-Titel{
  font-size: 18rem;
  color: white;
  position: relative;
  font-family: "Raleway", Calibri;
  top: 50vh;
  transform: translateY(-50%) translateX(-0.5%);
  -webkit-transform: translateY(-50%) translateX(-0.5%);
  -ms-transform: translateY(-50%) translateX(-0.5%);
  width: 100vw;
  text-align:  center;
  letter-spacing: 5rem;
}
#Interval-Res{
  position: relative;
  height: auto;
}
#Selected-Muc{
  background-color: var(--accent);
}
#show{
  transform: rotate(1.2deg);
  display: grid;
  grid-template-areas: 'Audio-Show Audio-List';
  width: 100vw;
}
#Audio-Show{
  width: 50vw;
  height: 100%;
  display:flex;
  justify-content: center;
}
#Audio-Box{
  background-color: #222;
  box-shadow: 0 0 20px 10px #111;
  position: relative;
  margin: 5vh 0 5vh 5vw;
  width: 30vw;
}

table{
  width: 30vw;
  background-color: #222222CC;
  box-shadow: 0 0 10px 0px #000;
  margin: 10vh 0 5vh 5vw;
}
tr{
  border-bottom: 1px #000000CC;
  height: 60px;
}

#Audio-List{
  width: 50vw;
  height: auto;

}

#Audio-Button{
  height: 80px;
  width: 80px;
  object-fit: cover;
  display: inline;
  left: 0;
}
.dev-button > .sample-play{
  position: relative;
  height: 20px;;
  margin-left: 20px;
  margin-top: 33px;
}
.sample-play:hover{
  color: var(--white);
}
.dev-button{
  height: 80px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  transition: .25s;
  border-bottom:  2px solid #000000CC;
}
.list-title{
  opacity: 1;
  margin-left: 10px;
  color: var(--white);
  font-size: 1.3rem;
  font-family: calibri;
  transform: translateY(100%);
  text-align:left;
}
.play-but{
  opacity: 0;
  margin-left: 2vw;
  color: var(--white);
  font-size: 1.3rem;
  font-family: calibri;
  transform: translateY(100%);
  display: none;
}
.dev-button:hover > .list-title{
  opacity: 0;
  display: none;
    transition: .5s;
}
.dev-button:hover > .play-but{
  opacity: 1;
    display: flex;
    transition: .5s;
}
.dev-button:hover{
  background-color: #F2D0DDCC;
}
#Volume-Icon{
  display: inline-flex;
  transform: translateY(20%);
}
#volumeslider{
width: 90%;
justify-content: center;
}
#Volume-Back{
  background-color: var(--accent2);
  width: 0px;
  position: absolute;
  left: 30px;
  height: 30px;
  top: -5px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 #000;
  opacity: 0;
  transition: .4s;
  display:  flex;
}
#Volume-Icon:hover > #Volume-Back{
  opacity: 1;
  width: 150px;
}
#Selected-Audio-Pic img{
  width: 100%;
}
#Selected-Audio{
  padding: 5px 5px 5px 5px;
}
#Titel{
  color: var(--accent3);
  font-family: "Eco", Calibri;
  font-size: 1.5rem;
}
#Audio-Bar{
  margin: 5px 0 5px 0;
}
#Audio-Bar:hover{
  cursor: pointer;
}
/* Audioplayer */
.audio-player-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  margin-right: 8px;
}

.audio-player-progressbar {
  background-color: var(--white);
  width: 80%;
  height: 5px;
  border-radius: 5px;
  transform: translateY(150%);
}

.audio-player-progressmeter {
  background-color: var(--accent);
  height: 5px;
  border-radius: 2px;
}

.audio-player {
  display: flex;
  flex-direction: row;
  width: 90%;
  display: inline-flex;
}
.audio-player p{
  color: var(--white);
  font-family: calibri;
}
.fa{
 background-color: none;
 color: var(--white);
 transition: .25s;
 margin-left: 5px;
 margin-right: 7px;
}
.fa:hover{
  color: var(--accent2);
}
.fa-play, .fa-pause, .fa-stop{
  background-color: none;
}
button{
    background-color: rgba(0,0,0,0);

}
button:hover{
  cursor: pointer;
}
.music-drop{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 120px;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  -webkit-padding-start: calc(10px - 3px);
  margin-left: 30px;
  background: var(--accent);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.music-drop option{
    background-color: var(--accent);
    color: #fff;
    outline: none;
    border: 0 0 0 0;
}
.music-drop option:hover{
  background-color: var(--accent2);
}
.haken{
  position: relative;
    width: 120px;
    margin-left: 30px;
}
.haken::before{
  font-family: "fontello";
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: -20px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}
#Selects{
  width: 500px;
  display: inline-flex;
  right: 0;
  position: absolute;
  margin-top: 10px;
}
@media only screen and (max-width: 1300px){
  #Musik-Titel{
        font-size: 20vw;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
  }
}
@media only screen and (max-width: 800px){
  #Main-Pic{
    filter: blur(0px);
  }
  #Selects{
    width: 100vw;
    display: inline-flex;
    right: 0;
    position: relative;
    margin-top: 0px;
  }
}
@media only screen and (orientation: portrait){
  #Musik-Titel{
    font-size: 20vw;
    letter-spacing: 1rem;
    transform: translateY(-50%) translateX(0%);
    -webkit-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
      top: 50vh;
  }
  #show{
    grid-template-areas: 'Audio-Show''Audio-List';
  }
  #Audio-Show{
    width: 97vw;
    left: 1.5vw;
  }
  #Audio-Box{
    background-color: #222;
    box-shadow: 0 0 20px 10px #111;
    position: relative;
    margin: 5vh 0 5vh 5vw;
    width: 100vw;
  }
  .audio-player-progressbar {
    width: 60%;
    margin-left: 10px;
  }
  .audio-player-info {
    width: 15%;
    margin-left: 5px;
  }
  .audio-player-info p{
    text-align: center;
    font-size: .9rem;
  }
  table{
    width: 95vw;
    margin: 3vh 0 5vh 5vw;
  }
}
