body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: center;:
}

table{
  width:90vw;
  left: 5vw;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  opacity: .9;
  margin-top: calc(20vh + 1.2rem);
}
table, th, td {
  border: 2px solid #888;
  border-collapse: collapse;
  font-family: "Eco", Calibri;
  font-size: 1.1rem;

}
table th{
  font-size: 1.5rem;
}
table .input{
  background-color: var(--accent);
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px 1px 1px 1px #fff;
  font-size: 1.1rem;
  font-style: Raleway;
}
td select{
  padding: 0.6rem 1.3rem;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  background: var(--accent);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-style: Raleway;
}
select{
  padding: 0.6rem 1.3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  background: var(--accent2);
  color: var(--accent3);
  font-family: 'Open Sans', sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-style: Raleway;
}
.pfeil::after{
  font-family: "fontello";
  content: "\f107";
  font-size: 25px;
  position: absolute;
  color: #fff;
  pointer-events: none;
  margin-left: -2%;
  transform: translateY(20%);
}


.btn{
width: 100%;
}
.btn:hover{
  cursor: pointer;
}
#numb{
  background-color: var(--accent);
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 39%;
  margin: 0 1vw 0 1vw;
  color: white;
  font-size: 1.1rem;
  font-family: "Eco", Calibri;
  position: relative;
  -moz-appearance: textfield;
  text-align: center;
}
#numb::-webkit-outer-spin-button,
#numb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Eingabe{
  background-color: var(--accent);
  opacity: .9;
  border: 2px solid white;
}
.ontable{
  position: relative;
  top: 20vh;
  margin-left: 5vw;
  display: inline-flex;
  width: 19vw;
}
footer{
  position: relative;
  margin-top: 20vh;
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.3) 0%, rgba(38,38,38,0) 100%);
}
