body,html{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body{
  background-color: black;
  background-image: url(../pics/Main-Pics/Main-Pic-Blurred.jpg);
  background-size: cover;
  overflow-x: hidden;
position: relative;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* außen und animate */
#angebote-background-1, #angebote-background-3{
  transform: rotateZ(1.4deg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  left: -10px;
  padding-left: 1.5vw;
  position: relative;
  box-shadow: #000 0 0 20px;
  transition: .5s;
  display: inline-flex;
}
#angebote-background-1{
  background-image: url(..//pics/Display/angebote1.jpg);
  background-position: center;
  top: -2.2vh;
  z-index: 3;
}
#angebote-background-3{
  background-image: url(..//pics/Display/angebote3.jpg);
  top: -14vh;
  background-position:  top;
  z-index: 1;
}

#angebote-background-2{
  transform: rotateZ(-1.4deg);
  background-image: url(..//pics/Display/angebote2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  top: -7vh;
  left: -10px;
  padding-left: 1.5vw;
  position: relative;
  box-shadow: #000 0 0 20px;
    transition: .5s;
    z-index: 2;
}



/* toggler1 */
  #angebot-1-toggler{
    height: 40vh;
    width: 100vw;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    opacity: 0;
      transition: .5s;
  }
  #angebot-1-toggler:checked{
    height: 40px;
    width: 40px;
    top: 10vh;
    left: 1vw;
  }
  #angebot-1-toggler:hover + #angebote-background-1,
  #angebot-2-toggler:hover + #angebote-background-2,
  #angebot-3-toggler:hover + #angebote-background-3
  {
    height: 45vh;
  }
  #angebot-1-toggler:checked + #angebote-background-1,
  #angebot-2-toggler:checked + #angebote-background-2,
  #angebot-3-toggler:checked + #angebote-background-3{
    height: 100vh;

  }
  #angebot-1-toggler:checked + #angebote-background-1 > .angebote-mid-right  > .angebote-content,
  #angebot-2-toggler:checked + #angebote-background-2 > .angebote-mid-left  > .angebote-content,
  #angebot-3-toggler:checked + #angebote-background-3 > .angebote-mid-right  > .angebote-content{
    width: 60vw;
    transition: .5s;
    height: 100vh;
  }
  #angebot-1-toggler:checked + #angebote-background-1 > .angebote-mid-right > .angebote-content > .angebote-text > p,
  #angebot-1-toggler:checked + #angebote-background-1 > .angebote-mid-right > .angebote-content > .angebote-btn,
  #angebot-2-toggler:checked + #angebote-background-2 > .angebote-mid-left > .angebote-content > .angebote-text > p,
  #angebot-2-toggler:checked + #angebote-background-2 > .angebote-mid-left > .angebote-content > .angebote-btn,
  #angebot-3-toggler:checked + #angebote-background-3 > .angebote-mid-right > .angebote-content > .angebote-text > p,
  #angebot-3-toggler:checked + #angebote-background-3 > .angebote-mid-right > .angebote-content > .angebote-btn{
      opacity: 100;
      transition: .5s;
      height: auto;
  }
  #angebot-1-toggler:checked + #angebote-background-1 > .angebote-mid-right > .angebote-content > .angebote-btn > .btn,
  #angebot-2-toggler:checked + #angebote-background-2 > .angebote-mid-left > .angebote-content > .angebote-btn > .btn,
  #angebot-3-toggler:checked + #angebote-background-3 > .angebote-mid-right > .angebote-content > .angebote-btn > .btn
      {
    opacity: 1;
    transition: .5s;
  }
.angebote-mid-left > .angebote-content > .angebote-text{
  display: grid;
  justify-content: right;
}
  /* togler kreuz */
   #angebot-1-toggler:checked ~ .angebote-kreuz > div,
   #angebot-1-toggler:checked ~ .angebote-kreuz > div > div{
    opacity: 100;
    }
    #angebot-1-toggler:checked:hover ~ .angebote-kreuz > div{
      transform: rotate(200deg);
  }
/* toggler2 */
  #angebote-sec-2{
    display: flex;
    position: relative;
  }
  #angebote-sec-2 > div{
    top:0;
    left: 1vw;
    position: absolute;
  }
  #angebot-2-toggler{
    height: 40vh;
    width: 100vw;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    left: 1vw;
  }

  #angebot-2-toggler:checked{
    height: 40px;
    width: 40px;

  }

  /* togler kreuz */
  #angebot-2-toggler:checked ~ .angebote-kreuz > div,
  #angebot-2-toggler:checked ~ .angebote-kreuz > div > div{
    opacity: 100;
    }
  #angebot-2-toggler:checked:hover ~ .angebote-kreuz > div{
      transform: rotate(200deg);

  }

/* toggler3 */
#angebote-sec-3{
  display: flex;
  position: relative;
}
#angebote-sec-3 > div{
  top:0;
  left: 1vw;
  position: absolute;
}

#angebot-3-toggler{
  height: 40vh;
  width: 100vw;
  z-index: 4;
  position: absolute;
  cursor: pointer;
  opacity: 0;
    transition: .5s;
}
#angebot-3-toggler:checked{
  height: 40px;
  width: 40px;
  left: 1vw;
}

  /* togler kreuz */
   #angebot-3-toggler:checked ~ .angebote-kreuz > div,
   #angebot-3-toggler:checked ~ .angebote-kreuz > div > div{
    opacity: 100;
    }
   #angebot-3-toggler:checked:hover ~ .angebote-kreuz > div{
      transform: rotate(200deg);
  }


/* innen */

.angebote-kreuz{
  height: 40px;
  width: 40px;
  top: 10vh;
  left: 1vw;
  position: absolute;
  align-items: center;
  z-index: 3;
  display: flex;

}
.angebote-kreuz > div{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0;
  z-index: 100;
  transform: rotate(135deg);
}
.angebote-kreuz > div > div{
   position: relative;
   width: 100%;
   height: 3px;
   background-color: #fff;
   align-items: center;
   display: flex;
   justify-content: center;
   transition: all 0.4s ease;
   opacity: 0;
   z-index: 100;
   transform: rotate(90deg);
 }


.angebote-mid-left{
  transform: rotateZ(1.4deg);
  height: 100%;
  width: 100vw;
  opacity: 100;
  transition: .5s;
  display: grid;
  grid-template-areas: 'angebote-content angebote-placeholder';
  text-align: right;
}
.angebote-mid-left > .angebote-content > .angebote-text, .angebote-mid-right > .angebote-content > .angebote-text{
  transition: .5s;
}
.angebote-mid-right{
  transform: rotateZ(-1.4deg);
  height: 100%;
  width: 100vw;
  opacity: 100;
  transition: .5s;
  display: grid;
  grid-template-areas: 'angebote-placeholder angebote-content';
  text-align: left;

}
.angebote-placeholder{
  width: 40vw;
  height: 100%;

}
.angebote-content{
  display: grid;
  grid-template-areas: 'angebote-text''angebote-btn';
  text-shadow: 0 0 10px #000;
  transition: .5s;
  width: 50vw;
    height: 40vh;
    position: relative;
}
.angebote-text{
  height: 50%;
  width: 100%;
  top: 25vh;
  position: relative;
  color: var(--white);

}
.angebote-text > p {
  font-family: Arial, Calibri;
  font-size: 1.1rem;
  width: 50vw;
  transition: .5s;
}
.angebote-text > h1  {
  font-family: "Josef", Calibri;
  font-size: 4rem;
  transition: .5s;
}

.btn{
  opacity: 0;
}
.angebote-mid-left > .angebote-content > .angebote-text > p{
  opacity: 0;
}
.angebote-mid-right > .angebote-content > .angebote-text > p{
  opacity: 0;
}
.btn{
  position: relative;
}
.angebote-text > p > a{
  color: var(--accent3);
  text-decoration: none;
  transition: .25s;
}
.angebote-text > p > a:hover{
  color: var(--accent);
}

#Contact{
  position: relative;
  height: auto;
  margin: 2vh 0 5vh 0;
  justify-content: center;
  display: flex;
  color: var(--accent);
  font-family: "Eco", Calibri;
  font-size: 2rem;

}
#Contact #Contactdiv{
  justify-content: center;
  display: flex;
  width: 50vw;
  min-width: 400px;
  height: 100%;
  padding: 50px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  opacity: 0.8;
}
#bottom{
    width: 100%;
    text-align: right;
}
#Contact form{
  width: 100%;
  height: 100%;
  margin: 10px 0 10px 0;
  position: relative;
  display: inline;

}
#Contact input{
  display: block;
  background-color: #333;
  color: white;
  font-family: "Raleway", Calibri;
  font-size: 1.5rem;
  padding: 10px;
  display: inline;
}
#Contact .firstrow{
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}
.firstrow input{
  width: calc(25vw - 5px);
  min-width: 195px;
}

#Contact .secondrow{
  width: 100%;
  margin:10px 0 10px 0;
}
#Contact textarea{
  display: block;
  background-color: #333;
  color: white;
  font-family: "Raleway", Calibri;
  font-size: 1.5rem;
  padding: 5px;
  height:40%;
  margin:0 0 10px 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  max-height: 60vh;
    display: inline;
}
#Contact .btn{
  opacity: 1;
  margin: 10px 0 10px 0;

}
#Contact p{
  color: red;
  font-family: "Raleway", Calibri;
  font-size: 1rem;
  width: 100%;
}

footer{
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,.5) 0%, rgba(38,38,38,0) 110%);
  position: relative;
}
@media only screen and (max-width: 1500px){
.angebote-text > h1{
font-size: 6vw;
padding: 0 20px 0 20px;
}

}
@media only screen and (orientation: portrait){
.angebote-mid-right{
  grid-template-areas: 'angebote-text'
}
.angebote-mid-left{
  grid-template-areas: 'angebote-text'
}
.angebote-text > p{
  width: 90vw;
    padding: 0 20px 0 20px;
}
.angebote-text > h1{
font-size: 10vw;
padding: 0 20px 0 20px;
}

}
